/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:ital,wght@0,200;0,600;1,100;1,200;1,900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
}

:root{ /*Cria variáveis para serem usadas no próprio arquivo*/
    --green:#0dac6f;
    --white:#fff;
    --dark:#1e1c2a;
    --grey: #f2f2f2;
}

body{
    color: var(--dark);
    background: #fbf3db;
}

.text-h1{
    font-size: 3rem;
    line-height: 15rem;
    text-align: center;
}

.text-2024{
    font-size: 2rem;
    line-height: 3rem;
    position: absolute;
    top: 130px;
    left: 48%;
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
}

.graph {
    display: flex;
    height: 100px;
    /* padding-left: 5%; */
}

.graph img {
    width: 600px;
    height: 600px;
    text-align: right;
}

.img-circ {
    position: absolute;
    left: 58%;
    top: 35px;
    width: 100px;
    height: 100px;
}

#chart {
    width: 100%; 
    min-height: 450px;
}

/* #chart {
    width: 100%;
    min-height: 450px;
    max-width: 100%;
} */
